@import 'tailwindcss';


body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	color: #eaebde;
	font-family: 'Exposure-[-20]', sans-serif;
	padding: 0;
	margin: 0;
	width: 100%;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: black; /* fallback caso o vídeo não carregue */
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation-name: marquee;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}


@font-face {
	font-family: 'Exposure-[-20]';
	src: url('./assets/fonts/205TF-Exposure-[-20].woff2') format('woff2'), url('./assets/fonts/205TF-Exposure-[-20].woff') format('woff');
	font-style: normal;
}

@font-face {
	font-family: 'Exposure-[-20]Italic';
	src: url('./assets/fonts/205TF-Exposure-[-20]Italic.woff2') format('woff2'), url('./assets/fonts/205TF-Exposure-[-20]Italic.woff') format('woff');
	font-style: italic;
}



.container-default {
	margin: 4rem 2rem;
}
@media (max-width: 768px) {
	.container-default {
		margin: 2rem 1.5rem;
	}
}

.live-now::after {
	content: '';
	display: inline-block;
	width: 7px;
	height: 7px;
	background-color: #ffff00;
	margin-right: 5px;
	border-radius: 50%;
	margin-left: 9px;
	margin-bottom: 2px;
	animation: blink 2s ease-in-out infinite;
}

@keyframes blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}
 
.micro {
	background: rgba(255, 255, 255, 0);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	border: 0.5px solid rgba(255, 255, 255, 0.2);
	border-radius: 1.5rem;
	height: 500px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}


.schedule-item {
	background-color: #eaebde;
	border-radius: 1rem;
	height: 400px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.play {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
